order_processing.json
{
  "name": "Order Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-placed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -16
      ],
      "id": "528c0e31-325b-4fec-8fe5-698e722349a9",
      "name": "Webhook",
      "webhookId": "f095a1b0-a5b6-445a-bf51-0c957e018ffc"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $input.first().json.body;\nconst parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\nreturn [{\n  json: {\n    orderId: parsed.orderId,\n    fullName: parsed.fullName,\n    email: parsed.email,\n    phone: parsed.phone,\n    product: parsed.product,\n    quantity: parsed.quantity,\n    amount: parsed.amount,\n    orderDate: parsed.orderDate,\n    status: parsed.status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -16
      ],
      "id": "a48f0fec-f2fb-4e2d-a839-9ae3c38a86f7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XAtU0bxGWIDiwY-bp3grgFaA0R_0kohgdXoa-DSTANI",
          "mode": "list",
          "cachedResultName": "Leads Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XAtU0bxGWIDiwY-bp3grgFaA0R_0kohgdXoa-DSTANI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 253408840,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XAtU0bxGWIDiwY-bp3grgFaA0R_0kohgdXoa-DSTANI/edit#gid=253408840"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ $json.orderId }}",
            "Name": "={{ $json.fullName }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Product": "={{ $json.product }}",
            "Date": "={{ $json.orderDate }}",
            "Amount": "={{ $json.amount }}",
            "Payment Status": "={{ $json.status }}",
            "Quantity": "={{ $json.quantity }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Link",
              "displayName": "Payment Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hubspot Deal ID",
              "displayName": "Hubspot Deal ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -16
      ],
      "id": "85f94722-0ce0-4aae-b93a-6ddde8a44d3c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cw74AOL8I2LgDudo",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pat-eu1-69ce036a-0c8e-4d3a-b96d-61fc2105e8b5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"dealname\": \" {{ $json.Name }} - {{ $json.Product }} \",\n    \"amount\": \" {{ $json.Amount / 100}}\",\n    \"dealstage\": \"5055610088\",\n    \"pipeline\": \"default\",\n    \"closedate\": \"{{ $json.Date }}\" \n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -16
      ],
      "id": "2088074d-317c-4355-9b83-1681c190932a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.email }}",
        "subject": "Order Confirmed — FlowCart 🛒",
        "emailType": "text",
        "message": "=  Hi {{  $('Code in JavaScript').item.json.fullName }} ,\n\nYour order has been received! \n\nOrder ID: FC-XXXXX \n\nProduct: {{ $('Code in JavaScript').item.json.product }} \n\nAmount: ₦{{ $json.properties.amount }}\n\nStatus: Payment Pending  \n\nWe'll send you a confirmation once  payment is verified.  \n\nThe FlowCart Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        -16
      ],
      "id": "a1625e41-6f5b-4878-8b46-637632aeaf1d",
      "name": "Send a message",
      "webhookId": "57284e91-ab70-476f-893a-5b3504dafb67",
      "credentials": {
        "gmailOAuth2": {
          "id": "JONELpWlw1129BrG",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AMZHU6L64",
          "mode": "list",
          "cachedResultName": "all-divine-favour"
        },
        "text": "=🛒 New Order Received!\n👤 Name: {{ $('Code in JavaScript').item.json.fullName }}\n📧 Email: {{ $('Code in JavaScript').item.json.email }}\n📱 Phone: {{ $('Code in JavaScript').item.json.phone }}\n📦 Product: {{ $('Code in JavaScript').item.json.product }}\n🔢 Quantity: {{ $('Code in JavaScript').item.json.quantity }}\n💰 Amount: ₦{{ $('Code in JavaScript').item.json.amount / 100 }}\n🆔 Order ID: {{ $('Code in JavaScript').item.json.orderId }}\n🏷️ HubSpot Deal ID: {{ $('HTTP Request').item.json.id }}\n⏳ Status: Payment Pending",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        -16
      ],
      "id": "89a634b3-100a-4409-88cc-8683a0b5c477",
      "name": "Send a message1",
      "webhookId": "ab6be8e5-233d-4fb3-9001-363e7a64e1a1",
      "credentials": {
        "slackApi": {
          "id": "gDwgjKyoa6htjG7R",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XAtU0bxGWIDiwY-bp3grgFaA0R_0kohgdXoa-DSTANI",
          "mode": "list",
          "cachedResultName": "Leads Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XAtU0bxGWIDiwY-bp3grgFaA0R_0kohgdXoa-DSTANI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 253408840,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XAtU0bxGWIDiwY-bp3grgFaA0R_0kohgdXoa-DSTANI/edit#gid=253408840"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ $('Code in JavaScript').item.json.orderId }}",
            "Hubspot Deal ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Link",
              "displayName": "Payment Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hubspot Deal ID",
              "displayName": "Hubspot Deal ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -16
      ],
      "id": "b1f0a377-19f9-4f70-947f-7943013d72cb",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cw74AOL8I2LgDudo",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Africa/Lagos",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "74014dc5-7b1a-47ce-954f-44ef34537787",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b929b6ba2d4a8d33d312114f1a0c53d6d928fdb6395a910452f73d4e5e976ad"
  },
  "id": "4R2bsU4HQY0UcfZM",
  "tags": []
}